#cover{
height: 100%;
background-image: linear-gradient(to bottom, rgba(242, 94, 84,.8), rgba(242, 94, 84, .8)),url(../img/hero\ \(1\).jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;


nav{
    width: clamp(600px, 100%, 100%);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        height: 100%;
        width: 300px;
        margin-left: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .links a{
        text-decoration: none;
        color: black;
        width: 400px;
        font-size: 25px;
        font-family: Caveat;
        padding-right: 100px;
   
    }

    button{
        width: 150px;
        height: 50px;
        background-color: #FFD972;
        border-radius: 60px;
        font-family: Caveat;
        font-size: 25px;
        border: none;
    }
}
}